---
---

<footer class="grid">
  <div class="mx-auto">
    <a href="https://www.instagram.com/najitnajist/">instagram icon</a>
  </div>
  <div class="mx-auto">
   2022 @ NajitNajist.cz
  </div>
</footer>