---
import {
  Bars3Icon,
  UserCircleIcon,
} from '@heroicons/react/24/outline/esm/index.js';

const navLinks = [
  { text: 'Úvod', href: '#uvod' },
  { text: 'Náš příběh', href: '#nas-pribeh' },
  { text: 'Kontakt', href: '#kontakt' },
  { text: 'Náš Team', href: '#nas-team' },
];
---

<div class="bg-white sm:bg-transparent">
  <div class="container mx-auto flex py-5 sm:py-1 px-4">
    <div class="ml-auto flex items-center">
      <a
        class="inline-flex items-center text-lg opacity-0"
        class="https://portal.najitnajist.cz"
      >
        <UserCircleIcon width={25} height={25} className="mr-3" /> Přihlásit
      </a>
      <button id="mobile-menu-toggle" class="block sm:hidden ml-6">
        <Bars3Icon width={35} height={35} />
      </button>
    </div>
  </div>
</div>

<header class="hidden sm:block sm:sticky top-[-1px] left-0 z-20 bg-white">
  <nav class="container flex mx-auto">
    <ul
      class="ml-auto sm:flex text-right sm:text-left items-center gap-2 text-lg"
    >
      {
        navLinks.map(({ text, href }) => (
          <li>
            <a
              class="font-bold py-3 sm:py-8 px-6 block hover:bg-deep-green-400 hover:text-white duration-200"
              href={href}
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const MOBILE_MENU_TOGGLE_ID = 'mobile-menu-toggle';

  (() => {
    const el = document.getElementById(MOBILE_MENU_TOGGLE_ID);

    if (el) {
      el.addEventListener('click', (e) => {
        document.querySelector('header')?.classList.toggle('hidden');
      });
    }
  })();
</script>

<script>
  /*const stickyElm = document.querySelector('header')!;

  const observer = new IntersectionObserver(
    ([e]) => e.target.classList.toggle('bg-white', e.intersectionRatio < 1),
    { threshold: [1] }
  );

  observer.observe(stickyElm);*/
</script>
