---
import Footer from './Footer.astro';
import Header from './Header.astro';
import { CookieBanner } from '../CookieBanner';
---

<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/pct3thf.css" />
    <title>Najít Najíst</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DB0JE2EGYH"
    ></script>
  </head>
  <body class="bg-gradient-to-b from-[#fbf9eb] to-white data-scroll-container">
    <Header />
    <main class="overflow-hidden">
      <slot />
    </main>
    <Footer />
    <CookieBanner client:load />
  </body>
</html>
