---
import { ContactForm } from "../components/ContactForm";
import Layout from "../components/layout/Layout.astro"
import Video from "../components/Video.astro";

---

<Layout >
  <div>
    <h1 class="text-center text-8xl font-bold leading-[7rem]">
      Vítejte na Stránce <br/> Najít & Najíst 
    </h1>
    <div>
      <ContactForm  client:visible/>
    </div>
  </div>
	<Video />
</Layout>