---
// Import of assets
import ondrejLangrUrl from '../../../assets/ondrej-langr.jpg';
import arnostZizkaUrl from '../../../assets/arnost-zizka.webp';
import martinStaryUrl from '../../../assets/martin-stary.jpg';
import terezaZizkovaUrl from '../../../assets/tereza-zizkova.jpg';
import vojtechZizkaUrl from '../../../assets/vojtech-zizka.jpg';
import lenkaCernouskovaUrl from '../../../assets/lenka-cernouskova.jpg';
import kristynaZizkovaUrl from '../../../assets/kristyna-zizkova.jpg';
import Title from '../../Title.astro';
import UserHead from '../../UserHead.astro';

const teamMembers = [
  {
    name: 'Martin Starý',
    title: 'Marketing',
    imageUrl: martinStaryUrl,
  },
  {
    name: 'Ondřej Langr',
    title: 'Programátor',
    imageUrl: ondrejLangrUrl,
  },
  {
    name: 'Arnošt Žižka',
    title: 'Jednatel',
    imageUrl: arnostZizkaUrl,
  },
  {
    name: 'Tereza Žižková',
    title: 'Grafik',
    imageUrl: terezaZizkovaUrl,
  },
  {
    name: 'Vojtěch Žižka',
    title: 'Grafik',
    imageUrl: vojtechZizkaUrl,
  },
  {
    name: 'Lenka Černoušková',
    title: 'Finance',
    imageUrl: lenkaCernouskovaUrl,
    imagePosition: 'center',
  },
  {
    name: 'Kristýna Žižková',
    title: 'Prodejna Fénix',
    imageUrl: kristynaZizkovaUrl,
    imagePosition: 'center',
  },
];
---

<div class="px-4 mt-20" id="nas-team">
  <div class="mx-auto text-center">
    <Title>Náš tým</Title>
  </div>
  <div class="flex flex-wrap items-center justify-center gap-5">
    {
      teamMembers.map((memberInfo) => (
        <UserHead
          image={memberInfo.imageUrl}
          name={memberInfo.name}
          position={memberInfo.title}
          imagePosition={memberInfo.imagePosition}
        />
      ))
    }
  </div>
</div>
