---
import Title from '../../Title.astro';
import ourStoryUrl from '../../../assets/our-story.webm';
---

<div class="max-w-5xl px-4 mx-auto mt-20" id="nas-pribeh">
  <div class="mx-auto text-center">
    <Title>Náš příběh</Title>
  </div>
  <div>
    <video controls width="100%" class="sm:aspect-video bg-black">
      <source src={ourStoryUrl} type="video/webm" />
    </video>
  </div>
</div>
