{
  "jsc": {
    "target": "esnext",
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "@custom-types": ["./types"],
      "@schemas": ["./schemas"],
      "@middleware": ["./middleware"],
      "@errors": ["./errors"],
      "@utils": ["./utils"],
      "@utils/*": ["./utils/*"],
      "@config": ["./config"],
      "@constants": ["./constants"],
      "@plugins": ["./plugins"],
      "@services/*": ["./services/*"],
      "@lib": ["./lib"]
    }
  }
}